.result {
    display: inline;
}

h1 {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

span {
    display: block;
    text-align: center;
}

.result{
    float: left;
    width: 100px;
    padding: 5px;
}



#inputDiv {
    width: max-content;
    margin: auto;
}